@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.header_logo{
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
    font-weight: 900;
}

.header_nav_menu{
    display: flex;
    gap: 24px;
    list-style: none;
}

.header_nav_menu-enlace{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.inicio{
    background-color: #1f2937;
    min-height: 92vh;
    display: flex;
    align-items: center;
}

.inicio_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.inicio_info-titulo{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.inicio_info-mensaje, .inicio_info-boton{
    color: #e5e7eb;
    font-size: 18px;
}

.inicio_info-boton{
    background-color: #3882f6;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 900;
    align-self: flex-start;
    cursor: pointer;
}

.inicio_figure-imagen{
    width: 100%;
}

.acercade{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.acercade-titulo{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.acercade_contenedor{
    display: flex;
    gap: 50px;
}

.acercade_contenedor_card{
    width: 170px;
}

.acercade_contenedor_card_figure-imagen{
    width: 100%;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 5px;
}

.acercade_contenedor_card-texto{
    text-align: center;
    font-size: 18px;
    color: #353e49;
}

.testimonios{
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 0;
}

.testimonios_contenedor-testimonio{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.testimonios_contenedor-autor{
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.cta{
    padding: 100px 0;
}

.cta_contenedor{
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.cta_contenedor_info-titulo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900
}

.cta_contenedor_info-eslogan{
    color: #e5e7eb;
    font-size: 18px;
}

.cta_contenedor-boton{
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 24px;
    cursor: pointer;
}

.footer{
    background-color: #1f2937; 
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-derechos{
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}